.vscode
.DS_Store
Saved
Intermediate
DerivedDataCache
*.xcworkspace
.vs
dist
*.log
.vscode/settings.json
*.sln
.vsconfig
Binaries
DerivedDataCache
Saved
Intermediate
LinuxServer
Binaries
testdeploy
.idea
Build
*.max